.productContainer {
  text-align: center;
  width: 350px;
  height: 350px;
  padding: 20px 0 10px 0;
  background-color: rgb(250, 250, 250, 0.1);
  border-radius: 20px;
  margin: 10px;
}

.imgContainer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 2rem;
}

.price {
  font-size: 1.5rem;
  margin: 0;
}

.productButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.productButton button {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  color: rgb(255, 108, 40, 0.849);
  border-color: darkblue;
  transition: 0.2s;
}

.productButton button:hover {
  font-size: 1.1rem;
  color: rgb(245, 245, 245);
  background-color: rgb(255, 108, 40, 0.849);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .cart {
    right: -70px;
  }
}

@media screen and (max-width: 1050px) {
  .productContainer {
    margin: 5px;
  }
  .cart {
    right: -120px;
  }
}

@media screen and (max-width: 920px) {
  .productContainer {
    width: 220px;
    height: 320px;
    margin: 10px;
  }

  .cart {
    top: -30px;
    right: -90px;
  }
}

@media screen and (max-width: 620px) {
  .productContainer {
    width: 150px;
    height: 250px;
    margin: 5px;
  }

  .product {
    padding-top: 20px;
  }

  .imgContainer {
    height: 70px;
  }

  .imgContainer img {
    width: 100%;
  }

  .name {
    font-size: 1.2rem;
  }

  .price {
    font-size: 1rem;
    margin: 0;
  }

  .cart {
    top: -10px;
    left: 50px;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  .productContainer {
    width: 150px;
    height: 250px;
    margin: 5px 0px;
  }
}
