html {
  font-size: 18px;
  font-family: "Irish Grover", cursive;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-image: linear-gradient(to left, #330136, #5e1742);
  color: rgb(243, 243, 243);
}

.shopContaier {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 10%;
}

.shopContaier img {
  width: 100px;
}
